@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color:#333;
}

.bg-banner {
  background: linear-gradient(to right,rgba(245,245,245,.9),rgba(245, 245, 245, 0.9)),url("../../public/diagmonds.png");
  background-position: center;
}

.section-title::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #facf0f;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}